<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.furuyonideckmanager_saien">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuruyoniDeckManager"
        android:forceDarkAllowed="false"
        android:configChanges="uiMode"
        tools:targetApi="31">
        <activity android:name="com.example.furuyonideckmanager_saien.CardListActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ViewDeckActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.DeckListActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ShowCardActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ChooseCardsActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.RegistrationActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.MegamiCardListActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.CardListKindActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.CardKindActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.KindListActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ThreeMegamiRegisterActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ThreeMegamiDeckRegisterActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.ThreeMegamiListActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.SelectDeckActivity" />
        <activity android:name="com.example.furuyonideckmanager_saien.RandomChooseActivity" />
        <activity
            android:name="com.example.furuyonideckmanager_saien.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>